<nb-card>
  <nb-card-header>สร้างตำแหน่งงาน</nb-card-header>
  <nb-card-body>
    <!--<small class="form-text">ตำแหน่งงาน</small>-->
    ตำแหน่งงาน
    <form  (submit)="createposition($event)">
      <div class="input-group">
        <input type="text" placeholder="ตำแหน่งงาน" class="form-control" id="position"/>
        <span class="input-group-append">
          <input type="submit" value="เพิ่ม" class="btn btn-success">
        </span>
      </div>
    </form>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>ตำแหน่งงานทั้งหมด '{{ num_positions }}' ตำแหน่ง</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

