<toaster-container [toasterconfig]="config"></toaster-container>

<!--{{ setDate( fixedTimezone | date:'yyyy/MM/dd' ) }} <br/>-->
<!--{{ setYear( fixedTimezone | date:'yyyy' ) }}-->
<!--{{ setMonth( fixedTimezone | date:'MM' ) }}-->
<!--{{ setDay( fixedTimezone | date:'dd' ) }}-->
<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <span align="left" class="pull-left"> กำหนดวันที่หยุดไม่ได้ </span>
        <span align="right" class="pull-right">
          <button class="btn btn-primary" type="button" (click)="settingTac()"> ตั่งค่าแทค </button>
        </span>
      </nb-card-header>
      <nb-card-body>
        <!--{{ testt }}-->
        <ngx-calendar></ngx-calendar>
        <!--<ngx-calendar3></ngx-calendar3>-->
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <nb-card class="center">
      <nb-card-header>
        <!--สร้างแทด-->
        <span align="left" class="pull-left"> สร้างแทค </span>
      </nb-card-header>
      <nb-card-body>
            <form [formGroup]="formTac" (submit)="submitTac($event)">
              <div class="row">
                <div class="col-md-3 col-xl-2">
                  วันที่ลงแทค
                </div>
                <div class="col-md-3 col-xl-2">
                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="inputSex" [value]="true" (change)="selectDay(1)" checked>
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">วันที่ 1-10</span>
                  </label>
                </div>
                <div class="col-md-3 col-xl-2">
                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="inputSex" [value]="false" (change)="selectDay(2)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">วันที่ 11-20</span>
                  </label>
                </div>
                <div class="col-md-3 col-xl-2">
                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="inputSex" [value]="false" (change)="selectDay(3)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">วันที่ 21-วันสุดท้าย</span>
                  </label>
                </div>
                <div class="col-md-6 col-xl-4">
                  <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="inputSex" [value]="true" (change)="selectDay(0)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">กำหนดเอง</span>
                    <form>
                      (วันที่
                      <input matInput type="number" min="1" max="31" class="width" [(ngModel)]="data.firstday" [disabled]="!(create_day == 0)"
                             required name="firstday" #firstday >
                      ถึง
                      <input matInput type="number" min="1" max="31" class="width" [(ngModel)]="data.lastday" [disabled]="!(create_day == 0)"
                             required name="lastday" #lastday >
                      )
                    </form>
                  </label>
                </div>
              <!--</div>-->
              <!--<div class="row show-grid">-->
                <div class="col-md-3 col-xl-2 offset-xl-8">
                  <div class="dropdown" ngbDropdown>
                    <button class="btn btn-success dropdown" type="button" ngbDropdownToggle>
                      {{ month_name }}
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                      <li class="dropdown-item" (click)="selectMonth(month)" *ngFor="let month of Jmonths">{{ month.name }}</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3 col-xl-2">
                  <div class="dropdown" ngbDropdown>
                    <button class="btn btn-success dropdown" type="button" ngbDropdownToggle>
                      {{ show_year }}
                    </button>
                    <ul class="dropdown-menu" ngbDropdownMenu>
                      <li class="dropdown-item" (click)="selectYear(year)" *ngFor="let year of Jyear">{{ year.number }}</li>
                    </ul>
                  </div>
                </div>
              </div>
              เพิ่มพนักงาน <br>
              <a (click)="imgInput.click()">
                <img [src]="imageUrl" width="50" height="50">
                <br>
                <!--<input type="file" #fileInput #Image accept="image/*" (change)="handleFileInput($event.target.files)" style="visibility:hidden">-->
                <input type="submit" #imgInput value="submit" class="btn btn-success" (click)="onSubmit()" style="visibility:hidden">
              </a>
            </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<!--{{ fixedTimezone | date:'M' }}-->
<!--<button class="btn btn-success" (click)="showLargeModal()">Large modal</button>-->

<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <span align="left" class="pull-left"> แทคทั้งหมด </span>
        <span align="right" class="pull-right"> ({{num_tac.num_tac}}) </span>
      </nb-card-header>
      <nb-card-body>
        <div *ngFor="let tac of tacs.tac; let i = index">
          <button routerLink="/manager/manager/tac/{{ tac.task_id }}"
                  [ngClass]="{
                    'tacopen' : tac.task_status,
                    'tacclose' : !tac.task_status
                  }" *ngIf="i >= row_start && i < row_end">
            <span align="left" class="pull-left"> รหัสรายงาน {{ tac.task_id }} </span>
            <span align="right" class="pull-right"> -- {{ i+1 }} --  </span>
            <br/>
            <span align="left" class="pull-left"> ราายงาน {{ tac.task_start }} ถึง {{ tac.task_end }}  </span>
            <br>
            <span align="left" class="pull-left"> จำนวนพนักงาน : {{ tac.numEmp }}</span>
          </button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" (click)="Pagination_back()"> << </a>
    </li>
    <li class="page-item" *ngFor="let RowsNumber of RowsNumbers; let i = index"
      [ngClass]="{
          'active' : RowsNumber.number == row_number
        }">
      <a class="page-link" (click)="Pagination_click(RowsNumber.number, RowsNumber.start, RowsNumber.end)">
        {{RowsNumber.number}}
      </a></li>
    <!--<li class="page-item active"><a class="page-link" (click)="Pagination_click(2)">2</a></li>-->
    <!--<li class="page-item"><a class="page-link" (click)="Pagination_click(3)">3</a></li>-->
    <li class="page-item">
      <a class="page-link" (click)="Pagination_next()"> >> </a>
    </li>
  </ul>
</nav>
<!--{{ numRowsTac }}-->
<!--//disabled-->

<!--<button (click)="testApi()" class="btn btn-success"> &#45;&#45;Test&#45;&#45; </button>-->
<!--<button (click)="testApi2()" class="btn btn-success"> &#45;&#45;Test2&#45;&#45; </button>-->




