@import '../../../@theme/styles/themes';

@include nb-install-component() {
  //text-align: center;

  .dropdown, .dropup, .btn-group {
    margin-bottom: 1rem;
  }

  nb-card-body {
    overflow: visible;
  }
}

button.dropdown {
  padding: 0.50rem 3rem;
  font-size: 14px;
  //font-weight: 900;
}

.pull-left {float:left;}
.pull-right {float:right;}
.text-center {text-align:center;}

button.report {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #c5c5c5;
  padding: 5px 15px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 0px;
  cursor: pointer;
  border-radius: 15px;
  line-height: 100%;
  box-shadow: 1px 3px 8px #eeeeee;
  border-left: 6px solid #40dc7e;

}

input.width {
  width: 50px;
}

.report:active {
  background-color: #36b665;
  box-shadow: 0px 1px 5px #666;
  transform: translateY(2px);
  border-left: 6px solid #2e8a45;
}

.center {
  text-align: center;
}

.tacopen {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #c5c5c5;
  padding: 5px 15px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 0px;
  cursor: pointer;
  border-radius: 15px;
  line-height: 100%;
  box-shadow: 1px 3px 8px #eeeeee;
  border-left: 6px solid #40dc7e;
}
.tacopen:active {
  background-color: #36b665;
  box-shadow: 0px 1px 5px #666;
  transform: translateY(2px);
  border-left: 6px solid #2e8a45;
}

.tacclose {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #c5c5c5;
  padding: 5px 15px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 0px;
  cursor: pointer;
  border-radius: 15px;
  line-height: 100%;
  box-shadow: 1px 3px 8px #eeeeee;
  border-left: 6px solid #ff4a5f;
}
.tacclose:active {
  background-color: rgba(238, 46, 46, 0.6);
  box-shadow: 0px 1px 5px #666;
  transform: translateY(2px);
  border-left: 6px solid #ee151c;
}