<toaster-container [toasterconfig]="config"></toaster-container>
<div class="row">
  <div class="col-lg-12">
    <div class="flex-center full-height background">
      <nb-card>
        <nb-card-header>
          <h3 align="center"> รหัสยืนยัน
          </h3>
          <div align="center"> {{ confirm }} </div>
        </nb-card-header>
        <nb-card-body>

          <form [formGroup]="loginForm" (submit)="loginUser($event)">
            เบอร์โทรศัพท์
            <input type="text" placeholder="เบอร์โทรศัพท์" value="{{ number }}" class="form-control-success length color1" formControlName="password"  disabled="disabled"/>
            รหัสยืนยัน
            <input type="password" placeholder="รหัสผ่านใหม่" id="password" class="form-control length" formControlName="password"
                   [ngClass]="{
                    'form-control-success' : isSubmitted && loginForm.controls.password.valid,
                    'form-control-danger' : isSubmitted && !loginForm.controls.password.valid
                  }">
            <div *ngIf="isSubmitted && loginForm.controls.password.errors">
              <div *ngIf="loginForm.controls.password.errors.required">
                <p> *กรุณากรอกรหัสยืนยัน </p>
              </div>
              <div *ngIf="loginForm.controls.password.errors.minlength">
                <p> *รหัสยืนยันต้องมีความยาว 10 ตัวอักษร </p>
              </div>
              <div *ngIf="loginForm.controls.password.errors.maxlength">
                <p> *รหัสยืนยันต้องมีความยาวน้อยกว่า 10 ตัวอักษร </p>
              </div>
            </div>
            <input type="submit" value="submit" class="btn btn-success">

          </form>
        </nb-card-body>
      </nb-card>


    </div>
  </div>
</div>
