<!--<div class="row">-->
  <!--<div class="col-12">-->
    <!--<nb-card>-->
      <!--<nb-card-header>ลงเวลาทำงาน</nb-card-header>-->
      <!--<nb-card-body>-->
      <!--</nb-card-body>-->
    <!--</nb-card>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<div class="col-12">-->
    <!--<nb-card>-->
      <!--<nb-card-header>พนักงานประจำ</nb-card-header>-->
      <!--<nb-card-body>-->
        <!--<ngx-full-time></ngx-full-time>-->
      <!--</nb-card-body>-->
    <!--</nb-card>-->
  <!--</div>-->
<!--</div>-->

<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>ตารางการทำงาน</nb-card-header>
      <nb-card-body>
        <!--<ngx-part-time></ngx-part-time>-->
        <ngx-full-time></ngx-full-time>
      </nb-card-body>
    </nb-card>
  </div>
</div>
