
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <span align="left" class="pull-left"> พนักงานทั้งหมด ({{ allEmp }})</span>
                <span align="right" class="pull-right">
                  <!--<div class="dropdown" ngbDropdown>-->
                    <!--<button class="btn btn-success dropdown" type="button" ngbDropdownToggle>-->
                      <!--แยกตามตำแหน่ง-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu" ngbDropdownMenu>-->
                      <!--<li class="dropdown-item">ตำแหน่ง 1</li>-->
                      <!--<li class="dropdown-item">ตำแหน่ง 2</li>-->
                      <!--<li class="dropdown-item">ตำแหน่ง 3</li>-->
                    <!--</ul>-->
                  <!--</div>-->
                </span>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 line" *ngFor="let user of users; let i = index">
                        <nb-card class="top">
                            <!--<button>-->
                            <nb-card-body>
                                <div align="center" *ngIf="user.emp_img != null">
                                    <a routerLink="/manager/manager/star/{{user.emp_id}}">
                                        <img src="{{ hostUrl }}storage/app/{{user.emp_img}}" class="rounded-circle" alt="Cinque Terre" width="100" height="100">
                                    </a>
                                </div>
                                <div align="center" *ngIf="user.emp_img == null">
                                    <img src="assets/images/default-image.png" class="rounded-circle" alt="Cinque Terre" width="100" height="100">
                                </div>
                                <br>
                                <div align="center">
                                    <p class="p1 upsize2"> {{user.emp_nickname}} </p>
                                    <p> {{user.emp_name}} {{user.emp_lastname}} </p>
                                </div>
                                <hr>
                                <div align="center" *ngIf="user.user_status == 1">
                                    <p class="upsize1"> Employee </p>
                                </div>
                                <div align="center" *ngIf="user.user_status == 2">
                                    <p class="upsize1"> Supervisor </p>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-6 line-left">
                                        รูปร่าง
                                    </div>
                                    <div class="col-6 line-right"  align = 'right'>
                                        <table width="100">
                                            <img src="assets/icon/{{ star }}.png" width="20" height="20" *ngFor="let star of starRating(user.star_1); let i = index">
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        หน้าตา
                                    </div>
                                    <div class="col-6"  align = 'right'>
                                        <table width="100">
                                            <img src="assets/icon/{{ star }}.png" width="20" height="20" *ngFor="let star of starRating(user.star_2); let i = index">
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        การทำงาน
                                    </div>
                                    <div class="col-6"  align = 'right'>
                                        <table width="100">
                                            <img src="assets/icon/{{ star }}.png" width="20" height="20" *ngFor="let star of starRating(user.star_3); let i = index">
                                        </table>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        ปฏิสัมพันธ์
                                    </div>
                                    <div class="col-6" align = 'right'>
                                        <table width="100">
                                            <img src="assets/icon/{{ star }}.png" width="20" height="20" *ngFor="let star of starRating(user.star_4); let i = index">
                                        </table>
                                    </div>
                                </div>
                            </nb-card-body>
                            <nb-card-footer>
                                <div align="center">
                                    <p> เบอร์โทรศัพท์ </p>
                                </div>
                                <div align="center">
                                    <p class="p1 upsize1"> {{user.username}} </p>
                                </div>
                            </nb-card-footer>
                            <!--</button>-->
                        </nb-card>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>

</div>
