.btn {
  padding: 0.75rem 3rem;
}

button.report {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #c5c5c5;
  padding: 5px 15px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 0px;
  cursor: pointer;
  border-radius: 15px;
  line-height: 100%;
  box-shadow: 1px 3px 8px #eeeeee;
  border-left: 6px solid #40dc7e;
}

button.report:hover {
  background-color: #40dc7e;
  border-left: 6px solid #36b665;
  .green {
    color: #fbfff9;
  }
  .blue {
    color: #ffffff;
  }
}

button.report:active {
  background-color: #36b665;
  box-shadow: 0px 1px 5px #666;
  transform: translateY(2px);
  border-left: 6px solid #2e8a45;
}