<!--{{ data | json }}-->
<div class="row text-center">
  <div class="col-md-12">
    <div class="btn-group">
      <div
              class="btn btn-primary"
              mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (click)="loading()"
              (viewDateChange)="viewDateChange.next(viewDate)">
        Previous
      </div>
      <div
              class="btn btn-outline-secondary"
              mwlCalendarToday
              [(viewDate)]="viewDate"
              (click)="loading()"
              (viewDateChange)="viewDateChange.next(viewDate)">
        Today
      </div>
      <div
              class="btn btn-primary"
              mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (click)="loading()"
              (viewDateChange)="viewDateChange.next(viewDate)">
        Next
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <!--<h3>{{ viewDate | calendarDate:(view + 'ViewTitle') }}</h3>-->
    <h3> {{ m_y }} </h3>
    <img [src]="imageUrl" class="pull-right" width="20" height="20" *ngIf="loader">
  </div>
</div>
<br>

<div class="row">
  <div class="col-12">
    <div class="pull-right">
      <svg width="20" height="20">
        <circle cx="10" cy="10" r="10"
                stroke="green" stroke-width="0" fill="#ad2121" />
        Sorry, your browser does not support inline SVG.
      </svg>
      วันหยุดร้าน/วันพระ
      <svg width="20" height="20">
        <circle cx="10" cy="10" r="10"
                stroke="green" stroke-width="0" fill="#000" />
        Sorry, your browser does not support inline SVG.
      </svg>
      ไม่สามารถลงวันหยุดได้
    </div>
  </div>
</div>

<!--<div class="alert alert-info">-->
    <!--<strong *ngIf="clickedDate">You clicked on this day: {{ clickedDate | date:'medium' }} </strong>-->
<!--</div>-->

<!--{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}-->
<!--{{ viewDate }}-->
<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
    <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
  </div>
  <small style="margin: 5px; color: #F0F0F0; text-shadow: 0 0 3px black;" class="textcolor"> {{ showcomment(day.date) }} </small>
</ng-template>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (dayClicked)="clickedDate = $event.day.date"
          (dayClicked)="dayClicked($event.day)"
          (beforeViewRender)="beforeMonthViewRender($event)"
          [cellTemplate]="customCellTemplate"
          >
    <!--(dayClicked)="dayClicked($event.day)"-->
    <!--(dayClicked)="dayClicked($event.day)"-->
    <!--(dayClicked)="dayClicked2($event.day)"-->
    <!--[activeDayIsOpen]="activeDayIsOpen"-->
    <!--(eventClicked)="eventClicked($event.event)"-->
  </mwl-calendar-month-view>
  <!--<mwl-calendar-week-view-->
          <!--*ngSwitchCase="'week'"-->
          <!--[viewDate]="viewDate"-->
          <!--[events]="events"-->
          <!--[refresh]="refresh">-->
  <!--</mwl-calendar-week-view>-->
  <!--<mwl-calendar-day-view-->
          <!--*ngSwitchCase="'day'"-->
          <!--[viewDate]="viewDate"-->
          <!--[events]="events"-->
          <!--[refresh]="refresh">-->
  <!--</mwl-calendar-day-view>-->
</div>