.pull-left {float:left;}
.pull-right {float:right;}
.text-center {text-align:center;}

small.textcolor {
  margin: 5px;
  color: #000aff;
  text-align: left;
  background-color: #fff;
  text-shadow: 0 0 3px black;
}
