<div class="modal-header">
    <span> วันที่ {{ Date }} </span>
    <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="notstrikeForm" (submit)="OnSubmit($event)">
<div class="modal-body">
    <div class="form-group validation-checkboxes row">
        <nb-checkbox [value]="stopwork" status="danger" class="col-sm-2" ng-model="all2" (change)="fstopwork(stopwork)">หยุดงาน</nb-checkbox>
        <nb-checkbox [value]="notstrike" status="warning" class="col-sm-2" ng-model="all" (change)="fnotstrike(notstrike)">ห้ามหยุด</nb-checkbox>
    </div>
    <div class="input-group">
        <textarea rows="5" id="comment" placeholder="หมายเหตุ" value="asd" class="form-control" [value]="notStrike_comment" [disabled]="!(notstrike || stopwork)"></textarea>
    </div>
</div>
<div class="modal-footer">
    <img [src]="imageUrl" class="pull-right" width="20" height="20" *ngIf="loader">
    <input type="submit" value="บันทึก" class="btn btn-success">
    <!--<button class="btn btn-md btn-success" (click)="submitModal()">บันทึก</button>-->
    <button class="btn btn-md btn-success" (click)="closeModal()">ยกเลิก</button>
</div>
</form>