<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <span align="left" class="pull-left"> ประวัติส่วนตัว </span>
                <span align="right" class="pull-right">
                    <button class="btn btn-success" type="button" *ngIf="!edit_status" (click)="edit()">
                      แก้ไขข้อมูล
                    </button>
                    <button class="btn btn-success" type="button" *ngIf="edit_status" (click)="save()">
                      แก้ไขข้อมูล
                    </button>
                </span>
            </nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-3" align="center">
                        <img src="{{ emp_img }}" class="img-thumbnail" alt="Cinque Terre" width="300">
                        <button class="btn btn-primary" type="button" *ngIf="edit_status" (click)="fileInput2.click()"> เปลี่ยนรูป </button>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-12" *ngIf="!edit_status">
                                <small class="txthead"> {{ user.emp_nickname }} </small>
                                <small> <b> {{ user.emp_name }} {{ user.emp_lastname }} </b></small>
                                <hr>
                            </div>

                            <div class="col-12" *ngIf="!edit_status"> <small> <b> วันเกิด : </b> {{ user.emp_birthday }} </small> </div>

                            <div class="col-12" *ngIf="!edit_status"> <small> <b> น้ำหนัก : </b> {{ user.emp_weight }} กิโลกรัม</small> </div>
                            <div class="col-12" *ngIf="!edit_status"> <small> <b> ส่วนสูง : </b> {{ user.emp_height }} เซนติเมตร</small> </div>

                            <div class="col-12" *ngIf="!edit_status"> <small> <b> ที่อยู่ : </b> {{ user.emp_address }} </small></div>

                            <div class="col-12" *ngIf="!edit_status"> <small> <b> เบอร์โทรติดต่อ : </b> {{ user.emp_id }} </small>(ใช้ในการ login เข้าระบบ)</div>

                            <div class="col-12" *ngIf="!edit_status"> <small class="green"> <b> STATUS : {{ status }}</b>  </small></div>
                            <div class="col-12" *ngIf="!edit_status"> <small class="green"> <b> ตำแหน่ง : </b>  </small></div>

                            <div class="col-12" *ngIf="edit_status">
                                <form [formGroup]="profileForm" (submit)="proflie($event)">
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <small> <b> ชื่อเล่น </b></small>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" *ngIf="edit_status" value="{{ user.emp_nickname }}" placeholder="ชื่อเล่น" id="inputNickName" class="form-control" formControlName="NickName"
                                                   [ngClass]="{'form-control-danger' : !profileForm.controls.NickName.valid}"
                                            >
                                        </div>

                                        <div class="col-md-3">
                                            <small> <b> ชื่อจริง </b></small>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" *ngIf="edit_status" value="{{ user.emp_name }}" placeholder="ชื่อเล่น" id="inputFirstName" class="form-control" formControlName="FirstName"
                                                   [ngClass]="{'form-control-danger' : !profileForm.controls.FirstName.valid}">
                                        </div>

                                        <div class="col-md-3">
                                            <small> <b> นามสกุล </b></small>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" *ngIf="edit_status" value="{{ user.emp_lastname }}" placeholder="ชื่อเล่น" id="inputLastName" class="form-control" formControlName="LastName"
                                                   [ngClass]="{'form-control-danger' : !profileForm.controls.LastName.valid}">
                                        </div>

                                        <div class="col-md-3">
                                            <small> <b> วันเกิด </b></small>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="date" *ngIf="edit_status" value="{{ user.emp_birthday }}" placeholder="ชื่อเล่น" id="inputBirthday" class="form-control" formControlName="Birthday"
                                                   [ngClass]="{'form-control-danger' : !profileForm.controls.Birthday.valid}">
                                        </div>

                                        <div class="col-md-3">
                                            <small> <b> น้ำหนัก </b></small>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="number" *ngIf="edit_status" value="{{ user.emp_weight }}" placeholder="ชื่อเล่น" id="inputWeight" class="form-control" formControlName="Weight"
                                                   [ngClass]="{'form-control-danger' : !profileForm.controls.Weight.valid}">
                                        </div>

                                        <div class="col-md-3">
                                            <small> <b> ส่วนสูง </b></small>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="number" *ngIf="edit_status" value="{{ user.emp_height }}" placeholder="ชื่อเล่น" id="inputHeight" class="form-control" formControlName="Height"
                                                   [ngClass]="{'form-control-danger' : !profileForm.controls.Height.valid}">
                                        </div>

                                        <div class="col-md-3">
                                            <small> <b> ที่อยู่ </b></small>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" *ngIf="edit_status" value="{{ user.emp_address }}" placeholder="ชื่อเล่น" id="inputAddress" class="form-control" formControlName="Address"
                                                   [ngClass]="{'form-control-danger' : !profileForm.controls.Address.valid}">
                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" value="submit" class="btn btn-success pull-right">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>ภาพรวม</nb-card-header>
            <nb-card-body>
                <div class="row">
                    <div class="col-md-3">
                        รูปครึ่งตัว
                    </div>
                    <div class="col-md-9">
                        <img src="{{ emp_headshot }}" class="img-thumbnail" alt="Cinque Terre" width="150">
                        <button class="btn btn-primary" type="button" *ngIf="edit_status" (click)="fileInput.click()"> เปลี่ยนรูป </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        รูปเต็มตัว
                    </div>
                    <div class="col-md-9">
                        <img src="{{ emp_img }}" class="img-thumbnail" alt="Cinque Terre" width="150">
                        <button class="btn btn-primary" type="button" *ngIf="edit_status" (click)="fileInput2.click()"> เปลี่ยนรูป </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        คอมการ์ด
                    </div>
                    <div class="col-md-9">
                        <img src="{{ emp_compcard }}" class="img-thumbnail" alt="Cinque Terre" width="150">
                        <button class="btn btn-primary" type="button" *ngIf="edit_status" (click)="fileInput3.click()"> เปลี่ยนรูป </button>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>


<input type="file" #fileInput accept="image/*" (change)="handleFileInput($event.target.files)" style="visibility:hidden">
<input type="file" #fileInput2 accept="image/*" (change)="handleFileInput2($event.target.files)" style="visibility:hidden">
<input type="file" #fileInput3 accept="image/*" (change)="handleFileInput3($event.target.files)" style="visibility:hidden">

