<toaster-container [toasterconfig]="config"></toaster-container>
<div class="row">
  <div class="col-lg-12">
<div class="flex-center full-height background">
      <nb-card>
        <nb-card-header> <h3 align="center"> LOG IN </h3>
        </nb-card-header>
        <nb-card-body>

          <form [formGroup]="loginForm" (submit)="loginUser($event)">
            เบอร์โทร
            <input type="text" placeholder="เบอร์โทร" id="username" class="form-control length" formControlName="username"
                   [ngClass]="{
                    'form-control-success' : isSubmitted && loginForm.controls.username.valid,
                    'form-control-danger' : isSubmitted && !loginForm.controls.username.valid
                  }">
            <div *ngIf="isSubmitted && loginForm.controls.username.errors">
              <div *ngIf="loginForm.controls.username.errors.required">
                <p> *กรุณากรอกเบอร์โทร 10 หลัก </p>
              </div>
              <div *ngIf="loginForm.controls.username.errors.minlength">
                <p> *เบอร์โทรต้องมีความยาว 10 ตัวอักษร </p>
              </div>
              <div *ngIf="loginForm.controls.username.errors.maxlength">
                <p> *เบอร์โทรต้องมีความยาว 10 ตัวอักษร </p>
              </div>
              <div *ngIf="loginForm.controls.username.errors.pattern">
                <p> *กรุณากรอกเบอร์โทรเป็นตัวเลข 0-9 เท่านั้น </p>
              </div>
            </div>


            รหัสผ่าน
            <input type="password" placeholder="รหัสผ่าน" id="password" class="form-control length" formControlName="password"
                   [ngClass]="{
                    'form-control-success' : isSubmitted && loginForm.controls.password.valid,
                    'form-control-danger' : isSubmitted && !loginForm.controls.password.valid
                  }">
            <div *ngIf="isSubmitted && loginForm.controls.password.errors">
              <div *ngIf="loginForm.controls.password.errors.required">
                <p> *กรุณากรอกรหัสผ่าน </p>
              </div>
            </div>
            <input type="submit" value="submit" class="btn btn-success">
          </form>
        </nb-card-body>
      </nb-card>

</div>
  </div>
</div>