<div class="modal-header">
  <span> เลือกพนักงาน </span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12">
      <nb-card>
        <nb-card-header>สร้างแทควันที่ {{ Date }} ถึง {{ Date_end }}</nb-card-header>
        <nb-card-body>
          <!--{{ alluser | json }}-->
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th scope="col">ชื่อพนักงาน</th>
              <!--<th scope="col">ตำแหน่ง</th>-->
              <th scope="col">อายุ</th>
              <th scope="col">น้ำหนัก</th>
              <th scope="col">ส่วนสูง</th>
              <th scope="col">คะแนน</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let emp of allEmp; let i = index">
              <th>
                <nb-action>
                  <div class="row">
                    <div class="col-1">
                      <div class="form-group validation-checkboxes row">
                        <nb-checkbox status="success" class="col-sm-4" [value]="all_number[i].value" (change)="selectEmp(i)"></nb-checkbox>
                      </div>
                    </div>
                    <div class="col-4">
                      <nb-user name="{{ emp.emp_nickname }}" picture="{{ hostUrl }}storage/app/{{emp.emp_img}}"></nb-user>
                      <!--{{ all_number[i].number }}-->
                    </div>
                    <!--<img src="{{ hostUrl }}storage/app/{{emp.emp_img}}" class="rounded-circle" alt="Cinque Terre" width="100" height="100">-->
                    <div class="col-7">
                      {{ emp.emp_name }} {{ emp.emp_lastname }}
                      <br/>
                      ID: {{ emp.username }}
                    </div>
                  </div>
                </nb-action>
              </th>
              <!--<td> &#45;&#45; ตำแหน่ง &#45;&#45; </td>-->
              <td> {{ call_birthday(emp.emp_birthday) }} ปี </td>
              <td> {{ emp.emp_weight }} </td>
              <td> {{ emp.emp_height }} </td>
              <td> {{ VGA_star(emp.star_1, emp.star_2, emp.star_3, emp.star_4, emp.star_5) }} </td>
            </tr>
            </tbody>
          </table>

        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-success" (click)="submitModal()">บันทึก</button>
  <button class="btn btn-md btn-success" (click)="closeModal()">ยกเลิก</button>
</div>
