<link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <span align="left" class="pull-left"> สร้างวันหยุดร้าน </span>
        <span align="right" class="pull-right"> <button class="btn btn-success line">สร้างวันหยุด</button> </span>
      </nb-card-header>
      <nb-card-body align="center">
        <span align="left" class="pull-left"> กำหนดวันหยุดประจำเดือน </span>
        <br>
        <!--{{ testDate | json }}-->
        <span align="left" class="pull-left">
          <div class="dropdown ghost-dropdown" ngbDropdown>
            <button class="btn btn-success dropdown" type="button" ngbDropdownToggle>
              <--เดือน-->
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngFor="let Jmonth of Jmonths; let i = index"
                      class="dropdown-item"
                      mwlCalendarNextView
                      (click)="month(Jmonth)"
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (viewDateChange)="viewDateChange.next(viewDate)">{{ Jmonth.name }}
              </button>
            </div>
          </div>
        </span>
        <span align="left" class="pull-left">
          <div class="dropdown ghost-dropdown" ngbDropdown>
            <button class="btn btn-success dropdown" type="button" ngbDropdownToggle>
              <--ปี-->
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" (click)="year('2559')">2559</button>
              <button class="dropdown-item" (click)="year('2560')">2560</button>
              <button class="dropdown-item" (click)="year('2561')">2561</button>
              <button class="dropdown-item" (click)="year('2562')">2562</button>
              <button class="dropdown-item" (click)="year('2563')">2563</button>
            </div>
          </div>
        </span>
        <span align="right" class="pull-right">
          <img src="assets/icon/0.png" width="20" height="20"> ไม่สามารถลงวันหยุดได้
          <img src="assets/icon/0.png" width="20" height="20"> วันหยุดร้าน/วันพระ
        </span>
        <br>
        <!--{{ viewDate }}-->
        <br>
        <br>
        <button
                class="btn btn-primary"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)">
          Previous
        </button>
        <button
                class="btn btn-outline-secondary"
                mwlCalendarToday
                [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)">
          Today
        </button>
        <button
                class="btn btn-primary"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
                (viewDateChange)="viewDateChange.next(viewDate)">
          Next
        </button>
        <br>
        {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
        <br>
        {{ Date_day_now }} {{ Date_month_now }} {{ Date_year_now }}

        <!--<div align="center"><h3>{{ viewDate }}</h3></div>-->

        <div [ngSwitch]="view">
          <mwl-calendar-month-view
                  *ngSwitchCase="'month'"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  (beforeViewRender)="beforeMonthViewRender($event)"
                  (dayClicked)="dayClicked($event.day)">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view
                  *ngSwitchCase="'week'"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view
                  *ngSwitchCase="'day'"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh">
          </mwl-calendar-day-view>
        </div>
        <div align="right">
          <button (click)="saveTag()" class="btn btn-success">บันทึก</button>
        </div>
      </nb-card-body>

    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-2">
            วันที่ลงแทค
          </div>
          <div class="col-sm-2">
            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="gridRadios" checked>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">วันที่1-10</span>
              </label>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="gridRadios">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">วันที่ 11-20</span>
              </label>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="gridRadios">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">วันที่ 21-30/31</span>
              </label>
            </div>
          </div>
          <div class="col-sm-2">
            เดือนที่ลงแทค
          </div>
          <div class="col-sm-2">
            <select class="form-control" placeholder="เบอร์โทรศัทท์" id="level">
              <option *ngFor="let Month of Months; let i = index" value="{{ i+1 }}">{{ Month }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12" align="center">
            เพิ่มพนักงาน <br>
            <button class="btn btn-success btn-round btn-demo button">+</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>