.cal-day-number {
    opacity: 1;
}

button .button {
    width: 150px;
    /*height: 150px;*/
}

.nb-theme-default .btn.btn-success {
    background-color: #40dc7e;
    width: 150px;
    /*height: 150px;*/
}

.pull-left {float:left;}
.pull-right {float:right;}
.text-center {text-align:center;}