.input-group {
  height: 3rem;
}
//.form-control {
//  height: 5rem;
//}
select.form-control {
  height: calc(3rem);
}

.btn {
  padding: 0.75rem 3rem;
}

.pull-left {float:left;}
.pull-right {float:right;}
.text-center {text-align:center;}