<nb-card>
  <nb-card-header>สร้าง Account</nb-card-header>
  <nb-card-body>
    <form [formGroup]="createForm" (submit)="createUser($event)">
    <div class="row">
      <div class="col-lg-3">
        <small class="form-text">ชื่อผู้ใช้ (เบอร์โทรศัทท์)</small>
        <div class="input-group">
          <input type="text" placeholder="เบอร์โทรศัทท์" class="form-control" id="username"  formControlName="username"
                 [ngClass]="{
                    'form-control-success' : isSubmitted && createForm.controls.username.valid,
                    'form-control-danger' : isSubmitted && !createForm.controls.username.valid
                  }"/>
        </div>
      </div>
      <div class="col-lg-3">
        <small class="form-text">ชื่อเล่น</small>
        <div class="input-group">
          <input type="text" placeholder="ชื่อเล่น" class="form-control" id="nickname" formControlName="nickname"
                 [ngClass]="{
                    'form-control-success' : isSubmitted && createForm.controls.nickname.valid,
                    'form-control-danger' : isSubmitted && !createForm.controls.nickname.valid
                  }"/>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="form-group">
          <small class="form-text">ระดับ</small>
          <select class="form-control" placeholder="เบอร์โทรศัทท์" id="level" formControlName="level"
                  [ngClass]="{
                    'form-control-success' : isSubmitted && createForm.controls.level.valid,
                    'form-control-danger' : isSubmitted && !createForm.controls.level.valid
                  }">
            <option *ngFor="let level of levels; let i = index" value="{{ i+1 }}">{{ level }}</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3">
        <br>
        <input type="submit" value="เพิ่ม" class="btn btn-success pull-right">
      </div>
    </div>
    </form>
  </nb-card-body>
</nb-card>