<toaster-container [toasterconfig]="config"></toaster-container>
<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>ตารางงานประจำ</nb-card-header>
      <nb-card-body>
        <div class="row text-center">
          <div class="col-md-12">
            <div class="btn-group">
              <div
                      class="btn btn-primary"
                      mwlCalendarPreviousView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (click)="loading()"
                      (viewDateChange)="viewDateChange.next(viewDate)">
                Previous
              </div>
              <div
                      class="btn btn-outline-secondary"
                      mwlCalendarToday
                      [(viewDate)]="viewDate"
                      (click)="loading()"
                      (viewDateChange)="viewDateChange.next(viewDate)">
                Today
              </div>
              <div
                      class="btn btn-primary"
                      mwlCalendarNextView
                      [view]="view"
                      [(viewDate)]="viewDate"
                      (click)="loading()"
                      (viewDateChange)="viewDateChange.next(viewDate)">
                Next
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <!--<h3>{{ viewDate | calendarDate:(view + 'ViewTitle') }}</h3>-->
            <h3> {{ m_y }} </h3>
            <img [src]="imageUrl" class="pull-right" width="20" height="20" *ngIf="loader">
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-12">
            <div class="pull-right">
              <svg width="20" height="20">
                <circle cx="10" cy="10" r="10"
                        stroke="green" stroke-width="0" fill="#ad2121" />
                Sorry, your browser does not support inline SVG.
              </svg>
              วันหยุดร้าน/วันพระ
              <svg width="20" height="20">
                <circle cx="10" cy="10" r="10"
                        stroke="green" stroke-width="0" fill="#000" />
                Sorry, your browser does not support inline SVG.
              </svg>
              ไม่สามารถลงวันหยุดได้
            </div>
          </div>
        </div>

        <ng-template #customCellTemplate let-day="day" let-locale="locale">
          <div class="cal-cell-top">
            <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
            <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
          </div>
          <small style="margin: 5px; color: #F0F0F0; text-shadow: 0 0 3px black;" class="textcolor"> {{ showcomment(day.date) }} </small>
          <div class="cell-totals">
            <span
                    *ngFor="let group of day.eventGroups"
                    class="badge badge-{{ group[0] }}">
              {{ group[1].length }}
            </span>
          </div>
        </ng-template>

        <div [ngSwitch]="view">
          <mwl-calendar-month-view
                  *ngSwitchCase="'month'"
                  [@.disabled]="true"
                  [viewDate]="viewDate"
                  [events]="events"
                  [refresh]="refresh"
                  (dayClicked)="clickedDate = $event.day.date"
                  (dayClicked)="dayClicked($event.day)"
                  (eventClicked)="eventClicked($event)"
                  (beforeViewRender)="beforeMonthViewRender($event)"
                  [cellTemplate]="customCellTemplate"
                  [activeDayIsOpen]="activeDayIsOpen"
          >
          </mwl-calendar-month-view>
        </div>
        <span style="color: #ff0028;">
          *หากพนักงานไม่สามารถมาทำงานตามทำงานตามแทคที่ลงได้ ให้แจ้งผู้จัดการพร้อมหาคนแทนงานก่อนอย่างน้อย 2 วัน
        </span>
        <br/>
        <!--<button class="btn btn-primary" style="float: right;" (click)="updateWorking()"> แก้ไขวันทำงาน </button>-->
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>ตารางลงวันลา {{ test_model }}</nb-card-header>
      <nb-card-body style="overflow: visible;">
          <div class="row">
            <div class="col-3">
              เริ่มวันที่
              <input type="date" class="form-control" [(ngModel)]="strike_start" name="strike_start"
              [ngClass]="{
                  'form-control-success': (isSubmitted === true)&&(strike_start !== null),
                  'form-control-danger': (isSubmitted === true)&&(strike_start === null)
              }">
              <!--this.strike_start !== null ||-->
              <!--this.strike_end !== null ||-->
              <!--this.position_Any.id !== null ||-->
              <!--this.status.id !== null-->
            </div>
            <div class="col-3">
              ถึงวันที่
              <input type="date" class="form-control" [(ngModel)]="strike_end" name="strike_end"
               [ngClass]="{
                  'form-control-success': (isSubmitted === true)&&(strike_end !== null),
                  'form-control-danger': (isSubmitted === true)&&(strike_end === null)
              }">
            </div>
            <div class="col-2">
              <div class="form-group">
                <label class="form-control-label"> ประเภท </label>
                <div class="dropdown ghost-dropdown" ngbDropdown [ngClass]="{
                  'border-green': (isSubmitted === true)&&(position_Any.id !== null),
                  'border-red': (isSubmitted === true)&&(position_Any.id === null)
                }">
                  <button class="btn btn-primary" type="button" ngbDropdownToggle>
                    {{ position_Any.name }}
                  </button>
                  <ul ngbDropdownMenu class="dropdown-menu">
                    <li class="dropdown-item" *ngFor="let p of positions" (click)="position_Any = p">
                      {{ p.name }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <label class="form-control-label"> สถานะ </label>
                <div class="dropdown ghost-dropdown" ngbDropdown [ngClass]="{
                  'border-green': (isSubmitted === true)&&(status.id !== null),
                  'border-red': (isSubmitted === true)&&((status.id === null))
                }">
                  <button class="btn btn-primary" type="button" ngbDropdownToggle>
                    {{ status.name }}
                  </button>
                  <ul class="dropdown-menu" ngbDropdownMenu>
                    <li class="dropdown-item" *ngFor="let s of statuss" (click)="status = s">
                      {{ s.name }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-2">
              <!--เบอร์โทร-->
              <!--<input type="text" class="form-control" [(ngModel)]="number" name="number"-->
                     <!--[ngClass]="{-->
                  <!--'form-control-success': (isSubmitted === true)&&(number !== null),-->
                  <!--'form-control-danger': (isSubmitted === true)&&(number === null)-->
              <!--}">-->
              <label class="form-control-label"> &nbsp; </label>
              <button type="submit" class="btn btn-primary pull-right" style="width: 100%;" (click)="Onsubmit_test()">ค้นหารายชื่อ</button>
            </div>
            <!--<div class="col-12">-->
              <!--ค้นหาเบอร์โทร-->
              <!--<div class="input-group has-person-icon">-->
                <!--<input type="text" [(ngModel)]="search_number" (change)="change_numbers(search_number)" placeholder="ค้นหาเบอร์โทร" class="form-control"/>-->
                <!--<span class="input-group-append">-->
                  <!--<button class="btn btn-danger input-group-text" (click)="search_numbers()">-->
                    <!--Search-->
                  <!--</button>-->
                <!--</span>-->
              <!--</div>-->
              <!--<div *ngFor="let number of numberss">-->
                <!--<a (click)="select_numbers(number.number)">-->
                  <!--&lt;!&ndash;{{ number.number }}&ndash;&gt;-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>-->
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary pull-right" (click)="Onsubmit_strike()">บันทึก</button>
          </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<!--<nb-card>-->
  <!--<nb-card-header>-->
    <!--Column Curtain Search-->
  <!--</nb-card-header>-->
  <!--<nb-card-body>-->
    <!--<nb-search type="column-curtain" tag="column-curtain"></nb-search>-->
  <!--</nb-card-body>-->
<!--</nb-card>-->
