//@import '../../../../@theme/styles/themes';
//@import '~bootstrap/scss/mixins/breakpoints';
//@import '~@nebular/theme/styles/global/bootstrap/breakpoints';
//
//@include nb-install-component() {
//
//  .dropdown, .dropup, .btn-group {
//    margin-bottom: 1rem;
//  }
//
//  nb-card-footer {
//    padding-bottom: 0.25rem;
//
//    button {
//      @include nb-ltr(margin, 0 1rem 1rem 0);
//      @include nb-rtl(margin, 0 0 1rem 1rem);
//    }
//  }
//
//  /* stylelint-disable */
//  toaster-container /deep/ {
//    #toast-container .toast-close-button {
//      right: 0;
//    }
//  }
//  /* stylelint-enable */
//
//  @include media-breakpoint-down(xs) {
//    .dropdown-toggle {
//      font-size: 0.75rem;
//    }
//  }
//}
//
.pull-left {float:left;}
.pull-right {float:right;}
.text-center {text-align:center;}

.border-red {
  border: 2px solid #ff4c6a;
  border-radius: 0.375rem;
}

.border-green {
  border: 2px solid #40dc7e;
  border-radius: 0.375rem;
}

.red-cell {
  background-color: #ad2121 !important;
}

.blue-cell {
  background-color: blue !important;
}

.yellow-cell {
  background-color: #e3ac00 !important;
}
.black-cell {
  background-color: #000000 !important;
}
.green-cell {
  background-color: green !important;
}

.input-group.has-person-icon {
  position: relative;

  .form-control {

    padding-left: 3rem;
  }

  &::before {
    content: '\f2f5';
    font-family: 'Ionicons';
    font-size: 2rem;
    position: absolute;
    z-index: 100;
    left: 1rem;
    top: 0.25rem;
  }
}

a:hover {
  //background-color: #555;
  color: white;
}