<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>submenu2</nb-card-header>
      <nb-card-body>
        {{ index }}
      </nb-card-body>
    </nb-card>
  </div>
</div>
