<!--<div class="row">-->
  <!--<div class="col-lg-5 line">-->
    <!--<nb-card>-->
      <!--<nb-card-header>-->
        <!--<span align="left" class="pull-left"> No-Bar Overall 1</span>-->
        <!--<span align="right" class="pull-right"> ({{ allEmp }}) </span>-->
      <!--</nb-card-header>-->
      <!--<nb-card-body>-->
        <!--&lt;!&ndash;<ngx-d3-pie></ngx-d3-pie>&ndash;&gt;-->
        <!--<ngx-echarts-pie></ngx-echarts-pie>-->
        <!--&lt;!&ndash;<ngx-echarts-pie2></ngx-echarts-pie2>&ndash;&gt;-->
      <!--</nb-card-body>-->
      <!--<nb-card-footer>-->
        <!--<div class="row">-->
          <!--<div class="col-lg-6">-->
            <!--<span align="left" class="pull-left"> พนักงานประจำ </span>-->
            <!--<span align="right" class="pull-right green"> 0 </span>-->
          <!--</div>-->
          <!--<div class="col-lg-6">-->
            <!--<span align="left" class="pull-left"> วันหยุด </span>-->
            <!--<span align="right" class="pull-right green"> 0 </span>-->
          <!--</div>-->
          <!--<div class="col-lg-6">-->
            <!--<span align="left" class="pull-left"> พนักงาน Part-time </span>-->
            <!--<span align="right" class="pull-right green"> 0 </span>-->
          <!--</div>-->
          <!--<div class="col-lg-6">-->
            <!--<span align="left" class="pull-left">วันหยุดร้าน/วันพระ </span>-->
            <!--<span align="right" class="pull-right green"> 0 </span>-->
          <!--</div>-->
        <!--</div>-->
      <!--</nb-card-footer>-->
    <!--</nb-card>-->
  <!--</div>-->

  <!--<div class="col-lg-2 line">-->
    <!--<nb-card>-->
      <!--<nb-card-header>-->
        <!--<span align="left" class="pull-left"> บัญชีทั้งหมด </span>-->
        <!--<span align="right" class="pull-right"> ({{ allUser }}) </span>-->
      <!--</nb-card-header>-->
      <!--<nb-card-body>-->
        <!--<div>-->
          <!--<span align="left" class="pull-left"> Admin </span>-->
          <!--<span align="right" class="pull-right green"> {{ admin }} </span>-->
        <!--</div>-->
        <!--<br>-->
        <!--<div>-->
          <!--<span align="left" class="pull-left"> Manager </span>-->
          <!--<span align="right" class="pull-right green"> {{ manager }} </span>-->
        <!--</div>-->
        <!--<br>-->
        <!--<div>-->
          <!--<span align="left" class="pull-left"> Superviser </span>-->
          <!--<span align="right" class="pull-right green"> {{ superviser }} </span>-->
        <!--</div>-->
        <!--<br>-->
        <!--<div>-->
          <!--<span align="left" class="pull-left"> Employee </span>-->
          <!--<span align="right" class="pull-right green"> {{ employee }} </span>-->
        <!--</div>-->
      <!--</nb-card-body>-->
      <!--<nb-card-footer class="footer">-->
        <!--<button class="footer">-->
          <!--<span class="footer"> จัดการบัญชี </span>-->
        <!--</button>-->
      <!--</nb-card-footer>-->
    <!--</nb-card>-->
  <!--</div>-->

  <!--<div class="col-lg-5 line">-->
    <!--<nb-card>-->
      <!--<nb-card-header>-->
        <!--<span align="left" class="pull-left"> รายงาน </span>-->
        <!--<span align="right" class="pull-right"> ({{ report }}) </span>-->
      <!--</nb-card-header>-->
      <!--<nb-card-body>-->
        <!--&lt;!&ndash;<button class="report">&ndash;&gt;-->
          <!--&lt;!&ndash;<span align="left" class="pull-left  blue"> รหัสรายงาน XXXXXXXXXXX </span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span align="right" class="pull-right blue"> พนักงานประจำ </span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span align="left" class="pull-left big"><b> รายงาน 16-25 พฤษภาคม 2561 </b></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br><br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span align="left" class="pull-left"> จำนวนพนักงาน :  </span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span align="right" class="pull-right green"> ค่าใช้จ่ายรวม : ฿ 150,000 </span>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="report">&ndash;&gt;-->
          <!--&lt;!&ndash;<span align="left" class="pull-left blue"> รหัสรายงาน XXXXXXXXXXX </span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span align="right" class="pull-right blue"> พนักงานประจำ </span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span align="left" class="pull-left  big"><b> รายงาน 16-25 พฤษภาคม 2561 </b></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br><br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span align="left" class="pull-left"> จำนวนพนักงาน :  </span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span align="right" class="pull-right green"> ค่าใช้จ่ายรวม : ฿ 150,000 </span>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<br>&ndash;&gt;-->
        <!--&lt;!&ndash;<button class="report">&ndash;&gt;-->
          <!--&lt;!&ndash;<span align="left" class="pull-left blue"> รหัสรายงาน XXXXXXXXXXX </span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span align="right" class="pull-right blue"> พนักงานประจำ </span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span align="left" class="pull-left  big"><b> รายงาน 16-25 พฤษภาคม 2561 </b></span>&ndash;&gt;-->
          <!--&lt;!&ndash;<br><br>&ndash;&gt;-->
          <!--&lt;!&ndash;<span align="left" class="pull-left"> จำนวนพนักงาน :  </span>&ndash;&gt;-->
          <!--&lt;!&ndash;<span align="right" class="pull-right green"> ค่าใช้จ่ายรวม : ฿ 150,000 </span>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
      <!--</nb-card-body>-->
      <!--<nb-card-footer class="footer">-->
        <!--<button class="footer">-->
          <!--<span class="footer"> แสดงรายงานทั้งหมด </span>-->
        <!--</button>-->
      <!--</nb-card-footer>-->
    <!--</nb-card>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<div class="col-lg-12">-->
    <!--<nb-card>-->
      <!--<nb-card-header>-->
        <!--<span align="left" class="pull-left"> พนักงานทั้งหมด ({{ allEmp }})</span>-->
        <!--<span align="right" class="pull-right">-->
          <!--<div class="dropdown" ngbDropdown>-->
            <!--<button class="btn btn-success dropdown" type="button" ngbDropdownToggle>-->
              <!--แยกตามตำแหน่ง-->
            <!--</button>-->
            <!--<ul class="dropdown-menu" ngbDropdownMenu>-->
              <!--<li class="dropdown-item">ตำแหน่ง 1</li>-->
              <!--<li class="dropdown-item">ตำแหน่ง 2</li>-->
              <!--<li class="dropdown-item">ตำแหน่ง 3</li>-->
            <!--</ul>-->
          <!--</div>-->
        <!--</span>-->
      <!--</nb-card-header>-->
      <!--<nb-card-body>-->
        <!--<div class="row">-->
          <!--<div class="col-lg-3 line" *ngFor="let user of users; let i = index">-->
            <!--<nb-card class="top">-->
              <!--<nb-card-body>-->
                <!--<div align="center" *ngIf="user.emp_img != null">-->
                  <!--<img src="{{ hostUrl }}storage/app/{{user.emp_img}}" class="rounded-circle" alt="Cinque Terre" width="100" height="100">-->
                <!--</div>-->
                <!--<div align="center" *ngIf="user.emp_img == null">-->
                  <!--<img src="assets/images/default-image.png" class="rounded-circle" alt="Cinque Terre" width="100" height="100">-->
                <!--</div>-->
                <!--<br>-->
                <!--<div align="center">-->
                  <!--<p class="p1 upsize2"> {{user.emp_nickname}} </p>-->
                  <!--<p> {{user.emp_name}} {{user.emp_lastname}} </p>-->
                <!--</div>-->
                <!--<!hr>-->
                <!--&lt;!&ndash;<div align="center">&ndash;&gt;-->
                  <!--&lt;!&ndash;<div *ngIf="user.user_status == 1">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="upsize1"> Employee </p>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                  <!--&lt;!&ndash;<div *ngIf="user.user_status == 2">&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="upsize1"> Supervisor </p>&ndash;&gt;-->
                  <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--<div align="center">-->
                  <!--<p class="upsize1"> {{ user.pos_name }} </p>-->
                <!--</div>-->
                <!--<hr>-->
                <!--<div class="row">-->
                  <!--<div class="col-6 line-left">-->
                    <!--รูปร่าง-->
                  <!--</div>-->
                  <!--<div class="col-6 line-right"  align = 'right'>-->
                    <!--&lt;!&ndash;<ngb-rating [(rate)]="starRate" max=5>&ndash;&gt;-->
                      <!--&lt;!&ndash;<ng-template let-fill="fill">&ndash;&gt;-->
                      <!--&lt;!&ndash;<span class="star fill" [class.filled]="fill === 100">&ndash;&gt;-->
                        <!--&lt;!&ndash;<img src="assets/icon/circle_green.png" width="20" height="20" *ngIf="fill === 100">&ndash;&gt;-->
                        <!--&lt;!&ndash;<img src="assets/icon/circle_gray.png" width="20" height="20" *ngIf="fill !== 100">&ndash;&gt;-->
                      <!--&lt;!&ndash;</span>&ndash;&gt;-->
                      <!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ngb-rating>&ndash;&gt;-->
                    <!--<table width="100">-->
                          <!--&lt;!&ndash;<img src="assets/icon/{{ star }}.png" width="20" height="20" *ngFor="let star of stars1; let i = index">&ndash;&gt;-->
                      <!--<img src="assets/icon/{{ star }}.png" width="20" height="20" *ngFor="let star of starRating(user.star_1); let i = index">-->
                    <!--</table>-->
                  <!--</div>-->
                <!--</div>-->

                <!--<div class="row">-->
                  <!--<div class="col-6">-->
                    <!--หน้าตา-->
                  <!--</div>-->
                  <!--<div class="col-6"  align = 'right'>-->
                    <!--<table width="100">-->
                      <!--<img src="assets/icon/{{ star }}.png" width="20" height="20" *ngFor="let star of starRating(user.star_2); let i = index">-->
                    <!--</table>-->
                  <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                  <!--<div class="col-6">-->
                    <!--การทำงาน-->
                  <!--</div>-->
                  <!--<div class="col-6"  align = 'right'>-->
                    <!--<table width="100">-->
                      <!--<img src="assets/icon/{{ star }}.png" width="20" height="20" *ngFor="let star of starRating(user.star_3); let i = index">-->
                    <!--</table>-->
                  <!--</div>-->
                <!--</div>-->

                <!--<div class="row">-->
                  <!--<div class="col-6">-->
                    <!--ปฏิสัมพันธ์-->
                  <!--</div>-->
                  <!--<div class="col-6" align = 'right'>-->
                    <!--<table width="100">-->
                      <!--<img src="assets/icon/{{ star }}.png" width="20" height="20" *ngFor="let star of starRating(user.star_4); let i = index">-->
                    <!--</table>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</nb-card-body>-->
              <!--<nb-card-footer>-->
                <!--<div align="center">-->
                  <!--<p> เบอร์โทรศัพท์ </p>-->
                <!--</div>-->
                <!--<div align="center">-->
                  <!--<p class="p1 upsize1"> {{user.user_id}} </p>-->
                <!--</div>-->
              <!--</nb-card-footer>-->
            <!--</nb-card>-->
          <!--</div>-->
        <!--</div>-->
      <!--</nb-card-body>-->
      <!--<nb-card-footer align="center">-->
        <!--<button class="btn btn-success line">ดูทั้งหมด</button>-->
      <!--</nb-card-footer>-->
    <!--</nb-card>-->
  <!--</div>-->

<!--</div>-->

<!--&lt;!&ndash;<asd></asd>&ndash;&gt;-->
<!--&lt;!&ndash;<img src="assets/icon/{{ star }}.png" width="20" height="20" *ngFor="let star of stars1; let i = index">&ndash;&gt;-->

<!--&lt;!&ndash;<img src="assets/icon/{{ star }}.png" width="20" height="20" *ngFor="let star of stars2; let i = index">&ndash;&gt;-->

<!--&lt;!&ndash;<img src="assets/icon/{{ star }}.png" width="20" height="20" *ngFor="let star of stars3; let i = index">&ndash;&gt;-->

<!--&lt;!&ndash;<img src="assets/icon/{{ star }}.png" width="20" height="20" *ngFor="let star of stars4; let i = index">&ndash;&gt;-->
