<div class="modal-header">
  <span> ตั่งค่าแทค </span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <!--{{ st_month }} || {{ st_tac }} || {{ st_alter }} || {{ st_delegate }}-->
  <div class="row">
    <div class="col-12">
      <nb-card>
        <nb-card-body>
            <form>
                <div class="row">
                    <div class="col-6">
                        <span class="pull-left">
                            กำหนดให้พนักงานประจำหยุดได้
                        </span>
                    </div>
                    <div class="col-4">
                        <span class="pull-right">
                            <input matInput type="number" value="0" [(ngModel)]="data.st_month"
                                   required name="fulltime" #fulltime >
                            <!--&nbsp;&nbsp;-->
                        </span>
                    </div>
                    <div class="col-2">
                        วัน/เดือน
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span class="pull-left">
                            กำหนดให้พนักงานชั่วคราวหยุดได้
                        </span>
                    </div>
                    <div class="col-4">
                        <span class="pull-right">
                            <input matInput type="number" placeholder="จำนวนวัน"  [(ngModel)]="data.st_tac"
                                   required name="temporary" #temporary >
                        </span>
                    </div>
                    <div class="col-2">
                        วัน/แทค
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span class="pull-left">
                            กำหนดให้แก้ไขวันทำงานได้
                        </span>
                    </div>
                    <div class="col-4">
                        <span class="pull-right">
                            <input matInput type="number" placeholder="จำนวนวัน"  [(ngModel)]="data.st_alter"
                                   required name="frist" #frist >
                        </span>
                    </div>
                    <div class="col-2">
                        ครั้ง
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <span class="pull-left">
                            กำหนดให้แทนงานได้
                        </span>
                    </div>
                    <div class="col-4">
                        <span class="pull-right">
                            <input matInput type="number" placeholder="จำนวนวัน" [(ngModel)]="data.st_delegate"
                                   required name="dalegate" #dalegate>
                        </span>
                    </div>
                    <div class="col-2">
                        วัน
                    </div>
                </div>
            </form>
            <img [src]="imageUrl" class="pull-right" width="20" height="20" *ngIf="loader">
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
<div class="modal-footer">
    <!--<button class="btn btn-md btn-success" (click)="testModal()">ทดสอบ</button>-->
  <button class="btn btn-md btn-success" (click)="submitModal()">บันทึก</button>
  <button class="btn btn-md btn-success" (click)="closeModal()">ยกเลิก</button>
</div>
