<div class="row">
  <div class="col-12">
    <!--<ngx-create-account></ngx-create-account>-->
    <nb-card>
      <nb-card-header>สร้าง Account</nb-card-header>
      <nb-card-body>
        <form [formGroup]="createForm" (submit)="createUser($event)">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <small class="form-text">ชื่อผู้ใช้ (เบอร์โทรศัทท์)</small>
              <div class="input-group">
                <input type="text" placeholder="เบอร์โทรศัทท์" class="form-control" id="username" maxlength="10" formControlName="username"
                       [ngClass]="{
                    'form-control-success' : isSubmitted && createForm.controls.username.valid,
                    'form-control-danger' : isSubmitted && !createForm.controls.username.valid
                  }" [(ngModel)]="data.firstday"/>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <small class="form-text">ชื่อเล่น</small>
              <div class="input-group">
                <input type="text" placeholder="ชื่อเล่น" class="form-control" id="nickname" formControlName="nickname"
                       [ngClass]="{
                    'form-control-success' : isSubmitted && createForm.controls.nickname.valid,
                    'form-control-danger' : isSubmitted && !createForm.controls.nickname.valid
                  }"/>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="form-group">
                <small class="form-text">ระดับ</small>
                <select class="form-control" placeholder="เบอร์โทรศัทท์" id="level" formControlName="level"
                        [ngClass]="{
                    'form-control-success' : isSubmitted && createForm.controls.level.valid,
                    'form-control-danger' : isSubmitted && !createForm.controls.level.valid
                  }">
                  <option *ngFor="let level of levels; let i = index" value="{{ i+1 }}">{{ level }}</option>
                </select>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <br>
              <input type="submit" value="เพิ่ม" class="btn btn-success pull-right">
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>Employee, Superviser</nb-card-header>
      <nb-card-body>
        <!--{{ alluser | json }}-->
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th scope="col">ลำดับ</th>
            <th scope="col">เบอร์โทรศัพท์</th>
            <th scope="col">ชื่อ</th>
            <th scope="col">ระดับ</th>
            <th scope="col">ปรับสถานะ</th>
            <th scope="col">ลบ</th>
            <th scope="col">link, sms</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of allEmp; let i = index">
            <th scope="row">{{ i+1 }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.name }}</td>
            <td *ngIf="user.user_status == 1"> Employee </td>
            <td *ngIf="user.user_status != 1"> Superviser </td>
            <th *ngIf="user.user_status == 1">
              <button type="button" class="btn btn-primary btn-icon" (click)="up_Status(user.id)">
                <i class="ion-arrow-up-c"></i>
              </button>
            </th>
            <th *ngIf="user.user_status != 1">
              <button type="button" class="btn btn-primary btn-icon" (click)="down_Status(user.id)">
                <i class="ion-arrow-down-c"></i>
              </button>
            </th>
            <th>
              <button type="button" class="btn btn-danger btn-icon" (click)="de_data(user.id, user.username)">
                <i class="ion-trash-a"></i>
              </button>
            </th>
            <th>
              <button type="button" class="btn btn-success btn-icon" (click)="sms(user.id, user.username)">
                <i class="fa fa-building-o"></i>
              </button>
            </th>
          </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>




