.green {
  color: #40DC7E;
}

.blue {
  color: #2673dc;
}

.big {
  font-size: 16px;
}

.pull-left {float:left;}
.pull-right {float:right;}
.text-center {text-align:center;}

button.report {
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #c5c5c5;
  padding: 5px 15px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 0px;
  cursor: pointer;
  border-radius: 15px;
  line-height: 100%;
  box-shadow: 1px 3px 8px #eeeeee;
  border-left: 6px solid #40dc7e;

}

.report:hover {
  background-color: #40dc7e;
  border-left: 6px solid #36b665;
  .green {
    color: #fbfff9;
  }
  .blue {
    color: #ffffff;
  }
}

.report:active {
  background-color: #36b665;
  box-shadow: 0px 1px 5px #666;
  transform: translateY(2px);
  border-left: 6px solid #2e8a45;
}

nb-card {
  height: 100%;
  //margin: 0px 0px 30% 0px;
}

div.line {
  margin: 0px 0px 30px 0px;
}

div.line-left {
  //padding: 0px 10%;
}

div.line-right {
  //padding: 0px 0px 0px 0px;
}

button.footer {
  width: 100%;
  height: 50px;
  border: 2px #dc1705;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #40dc7e;

}

nb-card-footer.footer {
  padding: 0rem;
  border-top: 0px;
  background-color: #40dc7e;
}

span.footer {
  color: #FFF;
  font-size: 16px;
  font-weight: 900;
}

button.footer:hover {
  background-color: #dc2a33;
}

nb-card.top {
  border-top: 8px solid #40dc7e;
}

button.line {
  padding: 0.75rem 5rem;
  font-size: 16px;
  font-weight: 900;
}

button.dropdown {
  padding: 0.50rem 3rem;
  font-size: 14px;
  //font-weight: 900;
}

p.p1 {
  text-align: center;
  color: #03beff;
}

p {
  line-height: 7pt
}

p.star {
  //line-height: 15pt;
  font-size: 8px;
}

p.upsize2 {
  font-size: 18px;
}
p.upsize1 {
  font-size: 16px;
}
