<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>ทดสอบ Login</nb-card-header>
      <nb-card-body>
        <form (submit)="loginUser($event)">
          <input type="text" placeholder="เบอร์โทร" id="username" class="form-control" value="0855988010">
          <input type="password" placeholder="รหัสผ่าน" id="password" class="form-control" value="123456">
          <input type="submit" value="submit" class="btn btn-success">
        </form>
      </nb-card-body>
      <nb-card-footer>
        <button class="btn btn-success" (click)="testToken()">ส่งข้อมูล</button>
        <button class="btn btn-success" (click)="logout()">logout</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
