<div class="row">
    <div class="col-12">
        <nb-card>
            <nb-card-header>
                <span class="pull-left">
                    <button (click)="back()">
                        <span aria-hidden="true"> << </span>
                    </button>
                    รหัสแทค {{ tac_id }} วันที่ {{ tac.task_start }} ถึง {{ tac.task_end }}
                </span>
                <span class="pull-right"> การใช้งาน <ui-switch labelOn="เปิด" labelOff="ปิด" (change)="onChange($event)" [(ngModel)]="enable"></ui-switch></span>
            </nb-card-header>
            <nb-card-body>
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">ชื่อพนักงาน</th>
                        <!--<th scope="col">ตำแหน่ง</th>-->
                        <th scope="col">อายุ</th>
                        <th scope="col">น้ำหนัก</th>
                        <th scope="col">ส่วนสูง</th>
                        <th scope="col">คะแนน</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let tac_emp of tac_emps; let i = index">
                        <th>
                            <nb-action>
                                <div class="row">
                                    <div class="col-4">
                                        <nb-user name="{{ tac_emp.emp_nickname }}" picture="{{ hostUrl }}storage/app/{{tac_emp.emp_img}}" routerLink="/manager/manager/star/{{tac_emp.emp_id}}"></nb-user>
                                    </div>
                                    <div class="col-8">
                                        {{ tac_emp.emp_name }} {{ tac_emp.emp_lastname }}
                                        <br/>
                                        ID: {{ tac_emp.username }}
                                    </div>
                                </div>
                            </nb-action>
                        </th>
                        <td> {{ call_birthday(tac_emp.emp_birthday) }} ปี </td>
                        <td> {{ tac_emp.emp_weight }} </td>
                        <td> {{ tac_emp.emp_height }} </td>
                        <td> {{ VGA_star(tac_emp.star_1, tac_emp.star_2, tac_emp.star_3, tac_emp.star_4, tac_emp.star_5) }} </td>
                    </tr>
                    </tbody>
                </table>
            </nb-card-body>
            <nb-card-footer align = 'right'>
                <button class="btn btn-md btn-danger" (click)="de_tac()">ลบแทค</button>
            </nb-card-footer>
        </nb-card>
    </div>
</div>
